#text-style {
    width: 30%;
    height: 20%;
    text-align: left;
    margin: 5% 0 0 35%;
    /* background-color: red; */
}


#ball {
    width: 15vw;
    height: 15vw;
    background-color: aquamarine;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: 45%;
}